
.language {
  font-weight: 200;
  margin-top: 30px;
  border-bottom: 1px solid #eee;
}

.sites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.site {
  flex-basis: 25%;
  padding: 30px 0;
  
  .site-link {
    font-size: 20px;
    font-weight: 800;
  }
  
  .site-links {
    font-size: 11px;
  }
  
  .site-source-link {
    border-right: 1px solid grey;
    padding-right: 4px;
  }

} // .site
